<ion-header>
  <ion-header>
    <ion-toolbar color="warning">
      <ion-buttons slot="start">
        <ion-button>
          <ion-button (click)="irLibros()">
            <ion-icon color="dark" name="arrow-round-back"></ion-icon>
          </ion-button>
        </ion-button>
      </ion-buttons>
      <ion-title>
        <div class="item item-avatar">
          <ion-img src="/assets/LOGO.png"></ion-img>
        </div>
      </ion-title>
    </ion-toolbar>
  </ion-header>
</ion-header>

<ion-content>
  <ion-item>
    <ion-card class="welcome-card" padding class="img">
      <ion-img src="/assets/A.png"></ion-img>
    </ion-card>

  </ion-item>

  <br>
  <p text-center>Somos ASTORA!</p>
  <p text-center>La empresa que ha marcado tendencia desde sus inicios,
    no te pierdas los proximos productos que prontamente lanzaremos</p>
  <br>
</ion-content>