<ion-header>
  <ion-header>
    <ion-toolbar color="warning">
      <ion-buttons slot="start">
        <ion-button>
          <ion-button (click)="irLibros()">
            <ion-icon color="dark" name="arrow-round-back"></ion-icon>
          </ion-button>
        </ion-button>
      </ion-buttons>
      <ion-title>
        <div class="item item-avatar">
          <ion-img src="/assets/CAmor.png"></ion-img>
        </div>
      </ion-title>
    </ion-toolbar>
  </ion-header>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-list>
      <ion-item>
        <ion-card class="welcome-card" padding class="img">
          <ion-img src="/assets/accion1.jpg" (click)="verLibroAv1()"></ion-img>
        </ion-card>
      </ion-item>
      <ion-item>
        <ion-card class="welcome-card" padding class="img">
          <ion-img src="/assets/accion2.jpg" (click)="verLibroAv2()"></ion-img>
        </ion-card>
      </ion-item>


    </ion-list>
  </ion-grid>
  <!---->
</ion-content>