<ion-header>

  <ion-toolbar color="warning">
    <ion-buttons slot="primary">
      <ion-button (click)="verActionSheet()">
        <ion-icon slot="icon-only" name="md-more"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <div class="item item-avatar">
        <ion-img src="/assets/bienvenido.png"></ion-img>
      </div>
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <br>
    <br>
    <ion-card-header>
      <ion-card-subtitle>
        <div class="item item-avatar">
          <ion-img src="/assets/libros2.png"></ion-img>
        </div>
      </ion-card-subtitle>
      <ion-card-title>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>En Astora library, podras encontrar todo tipo de libros y comics favoritos.

      </p>

      <p>
        Pretendemos seguir siendo la librería de confianza de todos los astorianos y ser referentes
        en temas populares de literatura.
      </p>
    </ion-card-content>
  </ion-card>


</ion-content>