<ion-header>
  <ion-header>
    <ion-toolbar color="warning">
      <ion-buttons slot="start">
        <ion-button>
          <ion-button (click)="irLibros()">
            <ion-icon color="dark" name="arrow-round-back"></ion-icon>
          </ion-button>
        </ion-button>
      </ion-buttons>
      <ion-title>
        <div class="item item-avatar">
          <ion-img src="/assets/CAccion.png"></ion-img>
        </div>
      </ion-title>
    </ion-toolbar>
  </ion-header>
</ion-header>

<ion-content>
  <p>CAPÍTULO I</p>
  <br>
  <p>EN LAS FRONTERAS DE LO INCREÍBLE</p>
  <br>
  <p>La ciencia, tal como está concebida y es enseñada de modo oficial, está fundada
    sobre unos principios dudosos que será necesario revisar.</p>

  <p>Esto es lo que admiten y declaran los físicos más abiertos a las «realidades» de la
    experiencia controlada.</p>

  <p> Desde 1976, aquellos que, generosamente, son llamados los sabios, están invadidos
    por una gran perplejidad: ya no saben dónde se hallan en sus conocimientos y, por poco,
    harían encender una vela a san Antonio para que les hiciese volver a encontrar sus
    certidumbres de antaño.</p>

  <p>Una cosa insignificante, un grano de arena, echa por tierra su magnífico aplomo.</p>

  <p>¿Qué es?
    Sencillamente: ¡la ciencia de los brujos, de los espiritualistas, de los esoteristas, de
    aquellos de quienes se han guaseado tanto llamándolos empíricos!
    Y por una inversión de las cosas, se asiste a este curioso fenómeno: los físicos
    volviéndose más empíricos que los empíricos, más radiestesistas, más curanderos que los
    curanderos y más creyentes que los beatos de Saint-Nicolas-du-Chardonnet.</p>

  <p>*************************************************</p>
  <p>¿QUIERES SEGUIR LEYENDO?</p>
  <p>Te invitamos a que compres el libro</p>
  <ion-button color="success" (click)="irPago()" >COMPRAR</ion-button>
</ion-content>