<ion-header>
  <ion-header>
    <ion-toolbar color="warning">
      <ion-buttons slot="start">
        <ion-button>
          <ion-button (click)="irLibros()">
            <ion-icon color="dark" name="arrow-round-back"></ion-icon>
          </ion-button>
        </ion-button>
      </ion-buttons>
      <ion-title>
        <div class="item item-avatar">
          <ion-img src="/assets/LOGO.png"></ion-img>
        </div>
      </ion-title>
    </ion-toolbar>
  </ion-header>
</ion-header>

<ion-content>
  <ion-item>
    <ion-card class="welcome-card" padding class="img">
      <ion-img src="/assets/404.png"></ion-img>
    </ion-card>
   
  </ion-item>

  <br>
  <p text-center>Estamos trabajando para usted en un mejor servicio.</p>
  <p text-center>Disculpe las molestias.</p>
  <br>
</ion-content><!---->