<ion-header>
  <ion-toolbar>
    <ion-title>poesia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-list>
            <ion-list-header>
              Libros de Drama
            </ion-list-header>
            <ion-label>PONER IMAGEN ACORDE </ion-label> 
            <ion-card class="welcome-card">
                <ion-img src="/assets/libros.jpg"></ion-img>
              </ion-card>
            <ion-item>
              
                <ion-label>Libro 1</ion-label>
                <ion-toggle color ="success" (click)="verLibropo1()"></ion-toggle>
            </ion-item>
            <ion-label>PONER IMAGEN ACORDE  </ion-label> 
            <ion-card class="welcome-card">
                <ion-img src="/assets/libros.jpg"></ion-img>
              </ion-card>
            <ion-item>
                
            <ion-label>Libro 2</ion-label>
                <ion-toggle color ="primary" (click)="verLibropo2()"></ion-toggle>
            </ion-item>
            </ion-list>
          </ion-grid>

</ion-content>
